<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">

    <title>Address Book</title>

</head>

<body>

    <header th:insert="navigation :: header"></header>

    <div class="container contacts-table-div ">

        <h2 class="contacts-title">My Contacts</h2>

        <table class="table table-hover table-light">
            <thead class="bg-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col" class="d-none d-lg-table-cell">Company</th>
                    <th scope="col" class="d-none d-md-table-cell">Phone</th>
                    <th scope="col" class="d-none d-sm-table-cell">Email</th>
                    <th scope="col">Mobile Phone</th>
                    <th scope="col" class="d-none d-md-table-cell">Comment</th>
                </tr>
            </thead>
            <tbody >
            <th:block th:each="contact : ${contacts}">
            <tr th:classappend="${contact.label}" th:onclick="|window.location.href='/contactPage?id=${contact.id}'|">
                <th scope="row" th:text="${contact.id}">3</th>
                <td th:text="${contact.firstName}">Peter</td>
                <td th:text="${contact.lastName}">Petrov</td>
                <td class="d-none d-lg-table-cell" th:text="${contact.companyName}">Microsoft</td>
                <td class="d-none d-md-table-cell" th:text="${contact.phoneNumber}">028742135</td>
                <td class="d-none d-sm-table-cell" th:text="${contact.email}">peter@mail.bg</td>
                <td th:text="${contact.mobilePhoneNumber}">0877794849</td>
                <td class="d-none d-md-table-cell" th:text="${contact.comment}">Comment</td>
            </tr>
            </th:block>
<!--                <tr class="table-primary">-->
<!--                    <th scope="row">1</th>-->
<!--                    <td>Mario</td>-->
<!--                    <td>Ivanov</td>-->
<!--                    <td class="d-none d-lg-table-cell">Twitter</td>-->
<!--                    <td class="d-none d-md-table-cell">028742135</td>-->
<!--                    <td class="d-none d-sm-table-cell">mario@mail.bg</td>-->
<!--                    <td>0877794849</td>-->
<!--                    <td class="d-none d-md-table-cell">Comment</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row">2</th>-->
<!--                    <td>Ivan</td>-->
<!--                    <td>Ivanov</td>-->
<!--                    <td class="d-none d-lg-table-cell">Apple</td>-->
<!--                    <td class="d-none d-md-table-cell">028742135</td>-->
<!--                    <td class="d-none d-sm-table-cell">ivan@mail.bg</td>-->
<!--                    <td>0877794849</td>-->
<!--                    <td class="d-none d-md-table-cell">Comment</td>-->
<!--                </tr>-->
<!--                <tr class="table-warning">-->
<!--                    <th scope="row">3</th>-->
<!--                    <td>Peter</td>-->
<!--                    <td>Petrov</td>-->
<!--                    <td class="d-none d-lg-table-cell">Microsoft</td>-->
<!--                    <td class="d-none d-md-table-cell">028742135</td>-->
<!--                    <td class="d-none d-sm-table-cell">peter@mail.bg</td>-->
<!--                    <td>0877794849</td>-->
<!--                    <td class="d-none d-md-table-cell">Comment</td>-->
<!--                </tr>-->
<!--                <tr class="table-warning">-->
<!--                    <th scope="row">3</th>-->
<!--                    <td>Peter</td>-->
<!--                    <td>Petrov</td>-->
<!--                    <td class="d-none d-lg-table-cell">Microsoft</td>-->
<!--                    <td class="d-none d-md-table-cell">028742135</td>-->
<!--                    <td class="d-none d-sm-table-cell">peter@mail.bg</td>-->
<!--                    <td>0877794849</td>-->
<!--                    <td class="d-none d-md-table-cell">Comment</td>-->
<!--                </tr>-->
            </tbody>

        </table>

        <div class="text-center">

            <a class="btn btn-primary" href="/addContact">Add Contact</a>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>


</body>

</html>