<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Address Book</title>

</head>

<body>

    <header th:insert="navigation :: header"></header>

    <!--/*@thymesVar id="responseUserDTO" type="nbu.java.model.dto.ResponseUserDTO"*/-->
    <div class="container myProfile-page-div shadow-lg"  th:action="@{/myProfile.html}" th:object="${responseUserDTO}">
        <h1 class="text-center">My Profile</h1>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6>Username</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <p th:field="*{username}" name="username" />
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6>Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <p th:text="*{email}"  name="email"/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6>First Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <p th:field="*{firstName}" />
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6>Last Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <p th:field="*{lastName}" />
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="col-sm-12">
                  <a href="/editMyProfile" class="btn btn-primary float-right">Edit</a>
                </div>
              </div>
            </div>
          </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

</body>

</html>